*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 600;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

hr {
  display: none;
}

main {
  width: 100%;
  padding: 0 1rem;
}

figure {
  display: table;
  margin: 5px auto;
}

figure img {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}

figcaption {
  text-align: center;
  font-size: 1.3rem;
}

p {
  padding: 0.5rem;
  font-size: 1.2rem;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

footer p {
  text-align: center;
  font-size: 1.5rem;
}

footer.icon {
  margin: auto 2px;
}

.fa {
  color: black;
}


@media only screen and (min-width: 768px) {

  hr {
    display: block;
  }

  /* Flaired edges, by Tomas Theunissen */

  hr.flaired {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: gray;
    border-width: 2px 0 0 0;
    border-radius: 20px;
  }

  hr.flaired:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -32px;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 2px 0;
    border-radius: 20px;
  }
}