figure {
    display: table;
    margin: 5px auto;
  }
  
  figure img {
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
  }
  
  figcaption {
    text-align: center;
    font-size: 1.3rem;
  }
  